<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
library(dendextend)
library(RColorBrewer)
getwd()

epi <- read.table('Epi_Sim_Data_58.txt', sep = '\t', header = T)
cgf <- read.table("Hex-SimTable_58.txt", sep='\t', header = T)


rownames(epi)<-colnames(epi)
rownames(cgf)<-colnames(cgf)

d_cgf<- as.dendrogram(hclust(dist(cgf)))
d_epi<- as.dendrogram(hclust(dist(epi)))

labels(d_cgf) <- as.character(labels(d_cgf))
labels(d_epi) <- as.character(labels(d_epi))

dendo_random <- untangle_random_search(d_cgf, d_epi, R = 150)
dend_heights <- heights_per_k.dendrogram(dendo_random[[2]])
dendo <- untangle_step_rotate_1side(dend1 = dendo_random[[2]], dend2_fixed = dendo_random[[1]], dendextend_heights_per_k.dendrogram= (dend_heights)[[1]], k_seq = 2:4 )

dendo[[1]] <-  color_branches(dendo[[1]], 6, col = brewer.pal(6, "Dark2"))
col_lines_left2 <- brewer.pal(6, "Dark2")[cutree(dendo[[1]], 6, order_clusters_as_data = F, sort_cluster_numbers = T)]

tanglegram(dendo[[1]], dendo[[2]], margin_inner = 5,
           color_lines = col_lines_left2, 
           lab.cex = 0.75, 
           main_left = "Genetic Similarity", 
           main_right = "Epidemiological Similarity", 
           sub = paste("Entanglement: ", round(entanglement(dendo[[1]], dendo[[2]]), 2)),
           cex_sub = 0.9) 





end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
